<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
    <header>{% render 'header' , products: products %}</header>
  <h1>{{title}}</h1>

  {% block %}{% endblock %}

  <footer> {% render 'footer.liquid' %} </footer>
</body>
</html>